# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Large data files
*.db
projects/uk-housing-market/data/raw/
projects/uk-housing-market/data/processed/london_housing_cleaned.csv

# OS files
.DS_Store
Thumbs.db