<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            Mounish Mesa
          </li>
          <li>
            <a class="u-email" href="mailto:mounish@datauto.dev">mounish@datauto.dev</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/mounishmesa">
              <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
              <span class="username">mounishmesa</span>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/mounish-jm">
              <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
              <span class="username">mounish-jm</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Automate Your Data Analysis with AI</p>
      </div>
    </div>
  </div>
</footer>
